In [1]:
import numpy as np #PAra algebra lineal
import pandas as pd #Procesamiento de datos
import matplotlib.pyplot as plt #Graficar
import seaborn as sns #Visualizar datos
from collections import Counter
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
dfTrain = pd.read_csv("train.csv")
dfTest = pd.read_csv("test.csv")

In [3]:
labels = ['Cheap', 'Mid', 'Expensive']

dfTrain['PriceTier'] = pd.cut(dfTrain['SalePrice'], 3, labels=labels)

dfTrain

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PriceTier
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,Cheap
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,Cheap
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,Cheap
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,Cheap
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,8,2007,WD,Normal,175000,Cheap
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000,Cheap
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500,Cheap
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,4,2010,WD,Normal,142125,Cheap
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,6,2008,WD,Normal,147500,Cheap

In [4]:
mapping = {
    'Cheap': 1,    
    'Mid': 2, 
    'Expensive': 3    
}
dfTrain['SalePrice'] = dfTrain['SalePrice'].map(mapping)

In [5]:
df = pd.concat([dfTrain, dfTest], sort=False)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PriceTier,Id
0,1.0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,NaN,Cheap,NaN
1,2.0,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,NaN,Cheap,NaN
2,3.0,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,NaN,Cheap,NaN
3,4.0,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,NaN,Cheap,NaN
4,5.0,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,NaN,Cheap,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,NaN,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,6,2006,WD,Normal,NaN,NaN,2915.0
1455,NaN,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,4,2006,WD,Abnorml,NaN,NaN,2916.0
1456,NaN,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,9,2006,WD,Abnorml,NaN,NaN,2917.0
1457,NaN,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,MnPrv,Shed,700,7,2006,WD,Normal,NaN,NaN,2918.0
1458,NaN,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,11,2006,WD,Normal,NaN,NaN,2919.0

In [6]:
# Especifica las columnas que deseas eliminar
columns_to_drop = ['PoolQC', 'Fence','MiscFeature', 'Alley', 'MiscVal' ]

# Eliminar las columnas especificadas
df = df.drop(df.columns[0], axis=1)
df = df.drop(columns=columns_to_drop, axis=1)

In [7]:
# Obtener las columnas categóricas
categorical_columns = df.select_dtypes(include=['object']).columns

# Iterar sobre las columnas categóricas
for column in categorical_columns:
    # Obtener los valores únicos de la columna
    unique_values = df[column].unique()
    # Imprimir el nombre de la columna y sus valores únicos
    print(f"Valores únicos en la columna '{column}': {unique_values}")

Valores únicos en la columna 'MSZoning': ['RL' 'RM' 'C (all)' 'FV' 'RH' nan]
Valores únicos en la columna 'Street': ['Pave' 'Grvl']
Valores únicos en la columna 'LotShape': ['Reg' 'IR1' 'IR2' 'IR3']
Valores únicos en la columna 'LandContour': ['Lvl' 'Bnk' 'Low' 'HLS']
Valores únicos en la columna 'Utilities': ['AllPub' 'NoSeWa' nan]
Valores únicos en la columna 'LotConfig': ['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
Valores únicos en la columna 'LandSlope': ['Gtl' 'Mod' 'Sev']
Valores únicos en la columna 'Neighborhood': ['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
Valores únicos en la columna 'Condition1': ['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
Valores únicos en la columna 'Condition2': ['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
Valores únicos en la columna 'BldgType': ['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
Valores únicos en la columna 'HouseStyle': ['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
Valores únicos en la columna 'RoofStyle': ['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
Valores únicos en la columna 'RoofMatl': ['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
Valores únicos en la columna 'Exterior1st': ['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock' nan]
Valores únicos en la columna 'Exterior2nd': ['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock' nan]
Valores únicos en la columna 'MasVnrType': ['BrkFace' nan 'Stone' 'BrkCmn']
Valores únicos en la columna 'ExterQual': ['Gd' 'TA' 'Ex' 'Fa']
Valores únicos en la columna 'ExterCond': ['TA' 'Gd' 'Fa' 'Po' 'Ex']
Valores únicos en la columna 'Foundation': ['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
Valores únicos en la columna 'BsmtQual': ['Gd' 'TA' 'Ex' nan 'Fa']
Valores únicos en la columna 'BsmtCond': ['TA' 'Gd' nan 'Fa' 'Po']
Valores únicos en la columna 'BsmtExposure': ['No' 'Gd' 'Mn' 'Av' nan]
Valores únicos en la columna 'BsmtFinType1': ['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
Valores únicos en la columna 'BsmtFinType2': ['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
Valores únicos en la columna 'Heating': ['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
Valores únicos en la columna 'HeatingQC': ['Ex' 'Gd' 'TA' 'Fa' 'Po']
Valores únicos en la columna 'CentralAir': ['Y' 'N']
Valores únicos en la columna 'Electrical': ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
Valores únicos en la columna 'KitchenQual': ['Gd' 'TA' 'Ex' 'Fa' nan]
Valores únicos en la columna 'Functional': ['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev' nan]
Valores únicos en la columna 'FireplaceQu': [nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
Valores únicos en la columna 'GarageType': ['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
Valores únicos en la columna 'GarageFinish': ['RFn' 'Unf' 'Fin' nan]
Valores únicos en la columna 'GarageQual': ['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
Valores únicos en la columna 'GarageCond': ['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
Valores únicos en la columna 'PavedDrive': ['Y' 'N' 'P']
Valores únicos en la columna 'SaleType': ['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth' nan]
Valores únicos en la columna 'SaleCondition': ['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']

In [8]:
from sklearn.preprocessing import LabelEncoder

# Crear una instancia de LabelEncoder
label_encoder = LabelEncoder()

# Lista de columnas categóricas
categorical_columns = ['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 
                       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 
                       'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 
                       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 
                       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 
                       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 
                       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 
                       'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 
                       'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 
                       'SaleType', 'SaleCondition', 'YrSold','MSSubClass']

# Iterar sobre las columnas categóricas y codificar sus valores
for column in categorical_columns:
    # Ajustar y transformar la columna actual
    df[column] = label_encoder.fit_transform(df[column])

# Verificar los cambios
print(df.head())

   MSSubClass  MSZoning  LotFrontage  LotArea  Street  LotShape  LandContour  \
0           5         3         65.0     8450       1         3            3
1           0         3         80.0     9600       1         3            3
2           5         3         68.0    11250       1         0            3
3           6         3         60.0     9550       1         0            3
4           5         3         84.0    14260       1         0            3

   Utilities  LotConfig  LandSlope  ...  3SsnPorch  ScreenPorch  PoolArea  \
0          0          4          0  ...          0            0         0
1          0          2          0  ...          0            0         0
2          0          4          0  ...          0            0         0
3          0          0          0  ...          0            0         0
4          0          2          0  ...          0            0         0

   MoSold  YrSold  SaleType  SaleCondition  SalePrice  PriceTier  Id
0       2       2         8              4        NaN      Cheap NaN
1       5       1         8              4        NaN      Cheap NaN
2       9       2         8              4        NaN      Cheap NaN
3       2       0         8              0        NaN      Cheap NaN
4      12       2         8              4        NaN      Cheap NaN

[5 rows x 77 columns]

In [9]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,3SsnPorch,ScreenPorch,PoolArea,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PriceTier,Id
0,5,3,65.0,8450,1,3,3,0,4,0,...,0,0,0,2,2,8,4,NaN,Cheap,NaN
1,0,3,80.0,9600,1,3,3,0,2,0,...,0,0,0,5,1,8,4,NaN,Cheap,NaN
2,5,3,68.0,11250,1,0,3,0,4,0,...,0,0,0,9,2,8,4,NaN,Cheap,NaN
3,6,3,60.0,9550,1,0,3,0,0,0,...,0,0,0,2,0,8,0,NaN,Cheap,NaN
4,5,3,84.0,14260,1,0,3,0,2,0,...,0,0,0,12,2,8,4,NaN,Cheap,NaN

In [10]:
df.tail()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,3SsnPorch,ScreenPorch,PoolArea,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PriceTier,Id
1454,13,4,21.0,1936,1,3,3,0,4,0,...,0,0,0,6,0,8,4,NaN,NaN,2915.0
1455,13,4,21.0,1894,1,3,3,0,4,0,...,0,0,0,4,0,8,0,NaN,NaN,2916.0
1456,0,3,160.0,20000,1,3,3,0,4,0,...,0,0,0,9,0,8,0,NaN,NaN,2917.0
1457,9,3,62.0,10441,1,3,3,0,4,0,...,0,0,0,7,0,8,4,NaN,NaN,2918.0
1458,5,3,74.0,9627,1,3,3,0,4,1,...,0,0,0,11,0,8,4,NaN,NaN,2919.0

In [12]:
# Convertir todos los datos a tipo float
df = df.astype(int)

Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, MoSold, YrSold, SaleType, SaleCondition, SalePrice, PriceTier, Id]
Index: []

[0 rows x 77 columns]

In [13]:
df.describe()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Id
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

In [ ]:
X = df.drop('PriceTier', axis = 1)
y = df["PriceTier"]

X

In [ ]:
y

In [ ]:
X.isnull().sum()

In [ ]:
y.isnull().sum()

In [ ]:
print(X[X.isnull().any(axis=1)])

# 3. Dividimos la data en entrenamiento y prueba

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. Escalar la data

In [ ]:
from sklearn.preprocessing import Normalizer

scaler = Normalizer()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled

In [ ]:
X_test_scaled

# 5. Entrenamos el modelo

In [ ]:
# Entrenar un modelo de SVM
svm_model = SVC(kernel='linear', random_state=42)
svm_model.fit(X_train_scaled, y_train)

# 6. Predecimos sobre la data

In [ ]:
y_pred = svm_model.predict(X_test_scaled)

# 7. Evaluamos el modelo

In [ ]:
from sklearn.metrics import classification_report

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

In [ ]:
print("Accuracy:", accuracy)
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)

# 8. Tuneo de Hiper-Parametros

### Importamos la libreria necesaria

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [ ]:
param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': [0.1, 0.01, 0.001],
    'kernel': ['linear', 'rbf']
}

### Inicializamos el modelo

In [ ]:
svm_model = SVC(random_state=42)

In [ ]:
grid_search = GridSearchCV(estimator=svm_model, param_grid=param_grid, cv=5, scoring='accuracy', verbose=1)
#cv es el número de divisiones para la validación cruzada. 
#(5-fold cross-validation) en este caso.
#verbose toma valores booleanos o enteros. Inidica si se mostrara mensajes durante la corrida del modelo.
grid_search.fit(X_train_scaled, y_train)

### Obtenemos los mejores parametros

In [ ]:
best_params = grid_search.best_params_
print("Mejores hiperparámetros encontrados:", best_params)

### Entrenamos el modelo con los mejores hiperparámetros

In [ ]:
best_svm_model = SVC(**best_params, random_state=42)
#** desempaqueta un diccionario

#SVC(C=0.1, gamma=0.1, kernel='linear', random_state=42)
best_svm_model.fit(X_train_scaled, y_train)

### Predecimos

In [ ]:
y_pred = best_svm_model.predict(X_test_scaled)

### Evaluamos el rendimiento del modelo

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

In [ ]:
print("Accuracy:", accuracy)
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)